<div ng-controller="createClusterTemplateNetworkController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="cluster-template-network-driver" translate>Network Driver</label>
        <select name="cluster-template-network-driver" type="text" class="form-control"
                id="cluster-template-network-driver"
                ng-model="model.newClusterTemplateSpec.network_driver"
                placeholder="{$ 'The network driver name for instantiating container networks'|translate $}"
                ng-options="driver.name as driver.label for driver in model.newClusterTemplateSpec.network_drivers">
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="cluster-template-http-proxy" translate>HTTP Proxy</label>
        <input name="cluster-template-http-proxy" type="text" class="form-control"
               id="cluster-template-http-proxy"
               ng-model="model.newClusterTemplateSpec.http_proxy"
               placeholder="{$ 'The http_proxy address to use for nodes in cluster'|translate $}">
      </div>
      <div class="form-group">
        <label class="control-label" for="cluster-template-https-proxy" translate>HTTPS Proxy</label>
        <input name="cluster-template-https-proxy" type="text" class="form-control"
               id="cluster-template-https-proxy"
               ng-model="model.newClusterTemplateSpec.https_proxy"
               placeholder="{$ 'The https_proxy address to use for nodes in cluster'|translate $}">
      </div>
      <div class="form-group">
        <label class="control-label" for="cluster-template-no-proxy" translate>No Proxy</label>
        <input name="cluster-template-no-proxy" type="text" class="form-control"
               id="cluster-template-no-proxy"
               ng-model="model.newClusterTemplateSpec.no_proxy"
               placeholder="{$ 'The no_proxy address to use for nodes in cluster'|translate $}">
      </div>
      <div class="form-group">
        <label class="control-label" for="cluster-template-external-network-id">
          <translate>External Network ID</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="cluster-template-external-network-id" type="text" class="form-control"
               id="cluster-template-external-network-id"
               ng-model="model.newClusterTemplateSpec.external_network_id" ng-required="true"
               placeholder="{$ 'The external Neutron network ID to connect to this cluster template'|translate $}">
      </div>
      <div class="form-group">
        <label class="control-label" for="cluster-template-fixed-network" translate>Fixed Network</label>
        <input name="cluster-template-fixed-network" type="text" class="form-control"
               id="cluster-template-fixed-network"
               ng-model="model.newClusterTemplateSpec.fixed_network"
               placeholder="{$ 'The private Neutron network name to connect to this cluster template'|translate $}">
      </div>
      <div class="form-group">
        <label class="control-label" for="cluster-template-fixed-subnet" translate>Fixed Subnet</label>
        <input name="cluster-template-fixed-subnet" type="text" class="form-control"
               id="cluster-template-fixed-subnet"
               ng-model="model.newClusterTemplateSpec.fixed_subnet"
               placeholder="{$ 'The private Neutron subnet name to connect to this cluster template'|translate $}">
      </div>
      <div class="form-group">
        <label class="control-label" for="cluster-template-dns-nameserver" translate>DNS</label>
        <input name="cluster-template-dns-nameserver" type="text" class="form-control"
               id="cluster-template-dns-nameserver"
               ng-model="model.newClusterTemplateSpec.dns_nameserver"
               placeholder="{$ 'The DNS nameserver to use for this cluster template'|translate $}">
      </div>
      <div class="form-group">
        <div class="themable-checkbox">
          <input name="cluster-template-master-lb-enabled" type="checkbox" id="cluster-template-master-lb-enabled"
                 ng-model="model.newClusterTemplateSpec.master_lb_enabled">
          <label for="cluster-template-master-lb-enabled" translate>Master LB</label>
        </div>
      </div>
      <div class="form-group">
        <div class="themable-checkbox">
          <input name="cluster-template-floating-ip-enabled" type="checkbox" id="cluster-template-floating-ip-enabled"
                 ng-model="model.newClusterTemplateSpec.floating_ip_enabled">
          <label for="cluster-template-floating-ip-enabled" translate>Floating IP</label>
        </div>
      </div>
    </div>
  </div>
</div>
