AUTHORS
ChangeLog
build
cover
doc/source/sourcecode
magnum_ui/test/.secret_key_store
node_modules
npm-debug.log
.coverage*
.jshintrc
.project
.pydevproject
.settings
.tox
.venv
*.egg*
*.lock
*.pyc
*.swp
