AUTHORS
ChangeLog
build
cover
doc/source/contributor/api/
magnum_ui/test/.secret_key_store
node_modules
npm-debug.log
releasenotes/build
.coverage*
.idea
.jshintrc
.project
.pydevproject
.settings
.tox
*.egg*
*.lock
*.pyc
*.swp
*.mo
*nose_results.html
