hacking>=7.0.0,<7.1.0 # Apache-2.0

coverage!=4.4,>=4.0 # Apache-2.0
nodeenv>=0.9.4 # BSD
pytest>=5.3.5 # MIT
selenium>=2.50.1 # Apache-2.0
# This also needs xvfb library installed on your OS
xvfbwrapper>=0.1.3 #license: MIT
