<div class="content" ng-controller="BayDetailController as ctrl">
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a ng-href="project/bays" translate>Bays</a></li>
      <li class="active">{$ ctrl.bay.name|noName $}</li>
      <div class="pull-right">
        <actions allowed="ctrl.bayResource.itemActions" type="row" item="ctrl.bay"></actions>
      </div>
    </ol>
  </div>
  <tabset>
    <tab heading="{$ 'Overview' | translate $}">
      <div class="row">
        <div class="col-md-6">
          <h3 translate>Baymodel</h3>
          <hr class="header-rule">
          <dl class="dl-horizontal">
            <div class="{$ propertyClasses $}">
              <dt translate>Name</dt>
              <dd><a ng-href="project/baymodels/{$ ctrl.baymodel.uuid $}">{$ ctrl.baymodel.name|noName $}</a></dd>
            </div>
            <div class="{$ propertyClasses $}">
              <dt translate>ID</dt>
              <dd>{$ ctrl.baymodel.uuid $}</dd>
            </div>
            <div class="{$ propertyClasses $}">
              <dt translate>COE</dt>
              <dd>{$ ctrl.baymodel.coe $}</dd>
            </div>
            <div class="{$ propertyClasses $}">
              <dt translate>Image ID</dt>
              <dd>{$ ctrl.baymodel.image_id $}</dd>
            </div>
          </dl>
        </div>
        <div class="col-md-6">
          <h3 translate>Nodes</h3>
          <hr class="header-rule">
          <dl class="dl-horizontal">
            <div class="{$ propertyClasses $}">
              <dt translate>Master Count</dt>
              <dd>{$ ctrl.bay.master_count $}</dd>
            </div>
            <div class="{$ propertyClasses $}">
              <dt translate>Node Count</dt>
              <dd>{$ ctrl.bay.node_count $}</dd>
            </div>
            <div class="{$ propertyClasses $}">
              <dt translate>API Address</dt>
              <dd>{$ ctrl.bay.api_address $}</dd>
            </div>
            <div class="{$ propertyClasses $}">
              <dt translate>Master Addresses</dt>
              <dd>
                <div ng-repeat="addr in ctrl.bay.master_addresses">{$ addr $}</div>
              </dd>
            </div>
            <div class="{$ propertyClasses $}">
              <dt translate>Node Addresses</dt>
              <dd>
                <div ng-repeat="addr in ctrl.bay.node_addresses">{$ addr $}</div>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3 translate>Miscellaneous</h3>
          <hr class="header-rule">
          <dl class="dl-horizontal">
            <div class="{$ propertyClasses $}">
              <dt translate>Stack ID</dt>
              <dd><a ng-href="project/stacks/stack/{$ ctrl.bay.stack_id $}" target="_self">{$ ctrl.bay.stack_id $}</a></dd>
            </div>
            <div class="{$ propertyClasses $}">
              <dt translate>Discovery URL</dt>
              <dd>{$ ctrl.bay.discovery_url $}</dd>
            </div>
            <div class="{$ propertyClasses $}">
              <dt translate>Bay Create Timeout</dt>
              <dd>
                <div ng-switch on="ctrl.bay.bay_create_timeout === 0 || ctrl.bay.bay_create_timeout === null">
                  <div ng-switch-when="true" translate>Infinite</div>
                  <div ng-switch-default translate translate-n="ctrl.bay.bay_create_timeout" translate-plural="{$ ctrl.bay.bay_create_timeout $} minutes">{$ ctrl.bay.bay_create_timeout $} minute</div>
                </div>
              </dd>
            </div>
          </dl>
        </div>
        <div class="col-md-6">
          <h3 translate>Record Properties</h3>
          <hr class="header-rule">
          <dl class="dl-horizontal">
            <div class="{$ propertyClasses $}">
              <dt translate>Created</dt>
              <dd>{$ ctrl.bay.created_at | date:'short' $}</dd>
            </div>
            <div class="{$ propertyClasses $}">
              <dt translate>Updated</dt>
              <dd>{$ ctrl.bay.updated_at | date:'short' $}</dd>
            </div>
            <div class="{$ propertyClasses $}">
              <dt translate>ID</dt>
              <dd>{$ ctrl.bay.uuid $}</dd>
            </div>
            <div class="{$ propertyClasses $}">
              <dt translate>Status</dt>
              <dd>{$ ctrl.bay.status $}</dd>
            </div>
          </dl>
        </div>
      </div>
    </tab>
  </tabset>
</div>