<div ng-controller="BayOverviewController as ctrl">
  <div class="row">
    <div class="col-md-6 detail">
      <h3 translate>Baymodel</h3>
      <hr>
      <dl class="dl-horizontal">
        <dt translate>Name</dt>
        <dd><a ng-href="project/ngdetails/OS::Magnum::Baymodel/{$ ctrl.baymodel.id $}">{$ ctrl.baymodel.name|noName $}</a></dd>
        <dt translate>ID</dt>
        <dd>{$ ctrl.baymodel.id $}</dd>
        <dt translate>COE</dt>
        <dd>{$ ctrl.baymodel.coe $}</dd>
        <dt translate>Image ID</dt>
        <dd>{$ ctrl.baymodel.image_id $}</dd>
      </dl>
    </div>
    <div class="col-md-6 detail">
      <h3 translate>Nodes</h3>
      <hr>
      <dl class="dl-horizontal">
        <dt translate>Master Count</dt>
        <dd>{$ ctrl.bay.master_count $}</dd>
        <dt translate>Node Count</dt>
        <dd>{$ ctrl.bay.node_count $}</dd>
        <dt translate>API Address</dt>
        <dd>{$ ctrl.bay.api_address $}</dd>
        <dt translate>Master Addresses</dt>
        <dd>
          <div ng-repeat="addr in ctrl.bay.master_addresses">{$ addr $}</div>
        </dd>
        <dt translate>Node Addresses</dt>
        <dd>
          <div ng-repeat="addr in ctrl.bay.node_addresses">{$ addr $}</div>
        </dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 detail">
      <h3 translate>Miscellaneous</h3>
      <hr>
      <dl class="dl-horizontal">
        <dt translate>Stack ID</dt>
        <dd><a ng-href="project/stacks/stack/{$ ctrl.bay.stack_id $}" target="_self">
          {$ ctrl.bay.stack_id $}
        </a></dd>
        <dt translate>Discovery URL</dt>
        <dd>{$ ctrl.bay.discovery_url $}</dd>
        <dt translate>Bay Create Timeout</dt>
        <dd>
          <div ng-switch on="ctrl.bay.bay_create_timeout === 0 || ctrl.bay.bay_create_timeout === null">
            <div ng-switch-when="true" translate>Infinite</div>
            <div ng-switch-default translate
              translate-n="ctrl.bay.bay_create_timeout"
              translate-plural="{$ ctrl.bay.bay_create_timeout $} minutes">
                {$ ctrl.bay.bay_create_timeout $} minute
            </div>
          </div>
        </dd>
      </dl>
    </div>
    <div class="col-md-6 detail">
      <h3 translate>Record Properties</h3>
      <hr>
      <dl class="dl-horizontal">
        <dt translate>Created</dt>
        <dd>{$ ctrl.bay.created_at | date:'short' $}</dd>
        <dt translate>Updated</dt>
        <dd>{$ ctrl.bay.updated_at | date:'short' $}</dd>
        <dt translate>ID</dt>
        <dd>{$ ctrl.bay.id $}</dd>
        <dt translate>Status</dt>
        <dd>{$ ctrl.bay.status $}</dd>
      </dl>
    </div>
  </div>
</div>
