<div ng-controller="createBayInfoController as ctrl">
  <h1 translate>Bay Details</h1>

  <div class="content">
    <div translate class="subtitle">Please provide the name of the Bay.</div>

    <div class="form-group">
      <div class="form-field bay-name">
        <label class="on-top"><translate>Bay Name</translate></label>
        <input name="bay-name" type="text" class="form-control input-sm"
               ng-model="model.newBaySpec.name"
               placeholder="{$ 'Name of the bay to create.'|translate $}">
      </div>
      <div class="form-field required bay-model">
        <label class="on-top"><translate>Bay Model</translate></label>
        <select class="form-control" name="bay-model"
          ng-model="model.newBaySpec.baymodel_id"
          ng-required="true"
          ng-options="baymodel.id as baymodel.name for baymodel in ctrl.baymodels"
          ng-change="changeBayModel()">
        </select>
      </div>
    </div>

    <h2 translate class="section-title">Bay Model Detail</h2>
    <div translate class="subtitle" id="baymodel_detail_none">
      <translate>Choose a Bay Model</translate>
    </div>
    <div translate class="subtitle" id="baymodel_detail">
      <dl class=dl-horizontal>
        <dt><translate>Name</translate></dt>
        <dd>{$ baymodeldetail.name $}</dd>
        <dt><translate>ID</translate></dt>
        <dd>{$ baymodeldetail.id $}</dd>
        <dt><translate>COE</translate></dt>
        <dd>{$ baymodeldetail.coe $}</dd>
        <dt><translate>Image ID</translate></dt>
        <dd>{$ baymodeldetail.image_id $}</dd>
        <dt><translate>Public</translate></dt>
        <dd>{$ baymodeldetail.public $}</dd>
        <dt><translate>Registry Enabled</translate></dt>
        <dd>{$ baymodeldetail.registry_enabled $}</dd>
        <dt><translate>TLS Disabled</translate></dt>
        <dd>{$ baymodeldetail.tls_disabled $}</dd>
        <dt><translate>API Server Port</translate></dt>
        <dd>{$ baymodeldetail.apiserver_port $}</dd>
      </dl>
    </div>

  </div>
</div>
