<div>
  <hz-magic-search-context ng-controller="BaysTableController as table"
    filter-facets="table.bayFacets">
    <hz-magic-search-bar></hz-magic-search-bar>
    <actions class="batch-action" allowed="table.bayResource.batchActions" type="batch"></actions>
    <table hz-table ng-cloak st-magic-search
      st-table="table.bays"
      st-safe-src="table.baysSrc"
      default-sort="name"
      default-sort-reverse="false"
      class="table table-striped table-rsp table-detail">
  
      <thead>
        <!--
          Table-column-headers:
          The headers for the table columns
        -->
        <tr>
          <th class="multi_select_column">
            <input type="checkbox" hz-select-all="table.bays">
          </th>
    
          <th class="expander"></th>
    
          <th class="rsp-p1" st-sort="name" st-sort-default translate>
            Name
          </th>
    
          <th class="rsp-p2" st-sort="id" translate>
            ID
          </th>
    
          <th class="rsp-p1" st-sort="status" translate>
            Status
          </th>
    
          <th class="rsp-p2" st-sort="master_count" translate>
            Master Count
          </th>
    
          <th class="rsp-p2" st-sort="node_count" translate>
            Node Count
          </th>
    
          <th class="actions_column" translate>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <!--
          Table-rows:
          This is where we declaratively define the table columns.
          Include multi_select_column if you want to select all.
          Include expander if you want to inline details.
          Include actions_column if you want to perform actions.
          rsp-p1 rsp-p2 are responsive priority as user resizes window.
        -->
    
        <tr ng-repeat-start="b in table.bays track by b.id">
    
          <td class="multi_select_column">
            <input type="checkbox"
              ng-model="tCtrl.selections[b.id].checked"
              hz-select="b">
          </td>
    
          <td class="expander">
            <span class="fa fa-chevron-right"
              hz-expand-detail
              duration="200">
            </span>
          </td>
    
          <td class="rsp-p1"><a ng-href="project/bays/{$ b.id $}">{$ b.name|noName $}</a></td>
          <td class="rsp-p2">{$ b.id $}</td>
          <td class="rsp-p1">{$ b.status $}</td>
          <td class="rsp-p2">{$ b.master_count $}</td>
          <td class="rsp-p2">{$ b.node_count $}</td>
    
          <td class="actions_column">
            <!--
              Table-row-action-column:
              Actions taken here applies to a single item/row.
            -->
            <actions allowed="table.bayResource.itemActions" type="row" item="b"></actions>
          </td>
        </tr>
        <tr ng-repeat-end class="detail-row">
          <!--
            Detail-row:
            Contains detailed information on this item.
            Can be toggled using the chevron button.
            Ensure colspan is greater or equal to number of column-headers.
          -->
          <td class="detail" colspan="100">
            <!--
              The responsive columns that disappear typically should reappear here
              with the same responsive priority that they disappear.
              E.g. table header with rsp-p2 should be here with rsp-alt-p2
            -->
            <div class="row">
              <span class="rsp-alt-p2">
                <dl class="col-xs-5">
                  <dt translate>ID</dt>
                  <dd>{$ b.id $}</dd>
                </dl>
                <dl class="col-xs-3">
                  <dt translate>Master Count</dt>
                  <dd>{$ b.master_count $}</dd>
                </dl>
                <dl class="col-xs-3">
                  <dt translate>Node Count</dt>
                  <dd>{$ b.node_count $}</dd>
                </dl>
              </span>
            </div>
            <div class="row">
              <dl class="col-xs-5">
                <dt translate>Baymodel</dt>
                <dd><a ng-href="project/baymodels/{$ b.baymodel_id $}">{$ b.baymodel_id $}</a></dd>
              </dl>
              <dl class="col-xs-3">
                <dt translate>Node Addresses</dt>
                <dd ng-repeat="addr in b.node_addresses">{$ addr $}</dd>
              </dl>
            </div>
          </td>
        </tr>
        <tr hz-no-items items="table.bays"></tr>
      </tbody>
      <!--
        Table-footer:
        This is where we display number of items and pagination controls.
      -->
      <tfoot hz-table-footer items="table.bays"></tfoot>
    </table>
  </hz-magic-search-context>
</div>
