<div ng-controller="createBaymodelSpecController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="baymodel-image-id">
          <translate>Image</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <select name="baymodel-image-id" type="text" class="form-control" id="baymodel-image-id"
                ng-model="model.newBaymodelSpec.image_id" ng-required="true"
                ng-options="image.id as image.name for image in ctrl.images">
        </select>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="baymodel-flavor-id" translate>Flavor</label>
        <select name="baymodel-flavor-id" type="text" class="form-control" id="baymodel-flavor-id"
                ng-model="model.newBaymodelSpec.flavor_id"
                ng-options="nflavor.id as nflavor.name for nflavor in ctrl.nflavors">
        </select>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="baymodel-master-flavor-id" translate>Master Flavor</label>
        <select name="baymodel-master-flavor-id" type="text" class="form-control" id="baymodel-master-flavor-id"
                ng-model="model.newBaymodelSpec.master_flavor_id"
                ng-options="mflavor.id as mflavor.name for mflavor in ctrl.mflavors">
        </select>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="baymodel-volume-driver" translate>Volume Driver</label>
        <select name="baymodel-volume-driver" type="text" class="form-control" id="baymodel-volume-driver"
                ng-model="model.newBaymodelSpec.volume_driver"
                placeholder="{$ 'The volume driver name for instantiating container volume.'|translate $}"
                ng-options="driver.name as driver.label for driver in model.newBaymodelSpec.volume_drivers">
        </select>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="baymodel-docker-volume-size" translate>
          Docker Volume Size (GB)
        </label>
        <input name="baymodel-docker-volume-size"  type="number"
               class="form-control" id="baymodel-docker-volume-size"
               ng-model="model.newBaymodelSpec.docker_volume_size" min="1"
               placeholder="{$ 'Specify the size in GB for the docker volume'|translate $}">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="baymodel-keypair-id">
          <translate>Keypair</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <select name="baymodel-keypair-id" type="text" class="form-control" id="baymodel-keypair-id"
                ng-model="model.newBaymodelSpec.keypair_id" ng-required="true"
                ng-options="keypair.id as keypair.name for keypair in ctrl.keypairs">
        </select>
      </div>
    </div>
  </div>
</div>
