<div ng-controller="createBaymodelNetworkController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="baymodel-network-driver" translate>Network Driver</label>
        <select name="baymodel-network-driver" type="text" class="form-control"
                id="baymodel-network-driver"
                ng-model="model.newBaymodelSpec.network_driver"
                placeholder="{$ 'The network driver name for instantiating container networks'|translate $}"
                ng-options="driver.name as driver.label for driver in model.newBaymodelSpec.network_drivers">
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="baymodel-http-proxy" translate>HTTP Proxy</label>
        <input name="baymodel-http-proxy" type="text" class="form-control"
               id="baymodel-http-proxy"
               ng-model="model.newBaymodelSpec.http_proxy"
               placeholder="{$ 'The http_proxy address to use for nodes in bay'|translate $}">
      </div>
      <div class="form-group">
        <label class="control-label" for="baymodel-https-proxy" translate>HTTPS Proxy</label>
        <input name="baymodel-https-proxy" type="text" class="form-control"
               id="baymodel-https-proxy"
               ng-model="model.newBaymodelSpec.https_proxy"
               placeholder="{$ 'The https_proxy address to use for nodes in bay'|translate $}">
      </div>
      <div class="form-group">
        <label class="control-label" for="baymodel-no-proxy" translate>No Proxy</label>
        <input name="baymodel-no-proxy" type="text" class="form-control"
               id="baymodel-no-proxy"
               ng-model="model.newBaymodelSpec.no_proxy"
               placeholder="{$ 'The no_proxy address to use for nodes in bay'|translate $}">
      </div>
      <div class="form-group">
        <label class="control-label" for="baymodel-external-network-id">
          <translate>External Network ID</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="baymodel-external-network-id" type="text" class="form-control"
               id="baymodel-external-network-id"
               ng-model="model.newBaymodelSpec.external_network_id" ng-required="true"
               placeholder="{$ 'The external Neutron network ID to connect to this bay model'|translate $}">
      </div>
      <div class="form-group">
        <label class="control-label" for="baymodel-fixed-network" translate>Fixed Network</label>
        <input name="baymodel-fixed-network" type="text" class="form-control"
               id="baymodel-fixed-network"
               ng-model="model.newBaymodelSpec.fixed_network"
               placeholder="{$ 'The private Neutron network name to connect to this bay model'|translate $}">
      </div>
      <div class="form-group">
        <label class="control-label" for="baymodel-dns-nameserver" translate>DNS</label>
        <input name="baymodel-dns-nameserver" type="text" class="form-control"
               id="baymodel-dns-nameserver"
               ng-model="model.newBaymodelSpec.dns_nameserver"
               placeholder="{$ 'The DNS nameserver to use for this Bay'|translate $}">
      </div>
    </div>
  </div>
</div>
