<div ng-controller="createContainerSpecController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="container-image" translate>
          <translate>Image</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <input name="container-image" type="text" class="form-control" id="container-image"
               ng-required="true" ng-model="model.newContainerSpec.image"
               placeholder="{$ 'Name of the container image.'|translate $}">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="container-memory-size" translate>Memory Size</label>
        <input name="container-memory-size" type="number" min="1"
               class="form-control" ng-model="model.newContainerSpec.memory_size"
               placeholder="{$ 'The container memory size.'|translate $}"
               ng-change="changeMemorySize()" id="container-memory-size">
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <label class="control-label" for="container-memory-unit" translate>Memory Unit</label>
        <select name="container-memory-unit" id="container-memory-unit"
                class="form-control" ng-options="mu.unit as mu.label for mu in ctrl.memory_units"
                ng-model="model.newContainerSpec.memory_unit" ng-change="changeMemoryUnit()">
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="container-command" translate>Command</label>
        <input name="container-command" type="text" class="form-control" id="container-command"
               ng-model="model.newContainerSpec.command"
               placeholder="{$ 'Send command to the contaier in a line.'|translate $}">
      </div>
    </div>
  </div>
</div>
