<div ng-controller="createBaySizeController as ctrl">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label class="control-label" for="bay-master-count" translate>Master Count</label>
        <input name="bay-master-count" type="number" min="1" id="bay-master-count"
               class="form-control" ng-model="model.newBaySpec.master_count"
               placeholder="{$ 'The number of master nodes for the bay.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label class="control-label" for="bay-node-count" translate>Node Count</label>
        <input name="bay-node-count" type="number" min="1" id="bay-node-count"
               class="form-control" ng-model="model.newBaySpec.node_count"
               placeholder="{$ 'The bay node count.'|translate $}">
      </div>
    </div>
  </div>
</div>
