<div ng-controller="createBaySizeController as ctrl">
  <h1 translate>Bay Size</h1>

  <div class="content">
    <div translate class="subtitle">Please provide the count of the master and node in this Bay.</div>

    <div class="form-group">
      <div class="form-field bay-master-count">
        <label class="on-top" translate>Master Count</label>
        <input name="bay-master-count" type="number" ng-pattern="/^[0-9]+$/"
               class="form-control input-sm"
               ng-model="model.newBaySpec.master_count"
               placeholder="{$ 'The bay node count.'|translate $}">
      </div>
      <div class="form-field bay-node-count">
        <label class="on-top" translate>Node Count</label>
        <input name="bay-node-count" type="number" ng-pattern="/^[0-9]+$/"
               class="form-control input-sm"
               ng-model="model.newBaySpec.node_count"
               placeholder="{$ 'The number of master nodes for the bay.'|translate $}">
      </div>
    </div>

  </div>
</div>
