<table ng-controller="containersBayModelsTableController as table"
  hz-table ng-cloak
  st-table="table.baymodels"
  st-safe-src="table.baymodelsSrc"
  default-sort="name"
  default-sort-reverse="false"
  class="table-striped table-rsp table-detail modern">

  <thead>
    <!--
      Table-batch-actions:
      This is where batch actions like searching, creating, and deleting.
    -->
    <tr>
      <th colspan="100" class="search-header">
        <hz-magic-search-bar group-classes="input-group-sm" icon-classes="fa-search"
          filter-facets="table.baymodelFacets">
        </hz-magic-search-bar>
      </th>
    </tr>
    <tr>
      <th colspan="100" class="action-col">
        <actions allowed="table.batchActions.actions" type="batch"></actions>
      </th>
    </tr>
    <!--
      Table-column-headers:
      The headers for the table columns
    -->
    <tr>
      <th class="select-col">
        <input type="checkbox" hz-select-all="table.baymodels">
      </th>

      <th class="expander"></th>

      <th class="rsp-p1" st-sort="name" st-sort-default>
        <translate>Name</translate>
      </th>

      <th class="rsp-p1" st-sort="id" >
        <translate>ID</translate>
      </th>

      <th class="rsp-p2" st-sort="network-driver" >
        <translate>Network Driver</translate>
      </th>

      <th class="rsp-p2" st-sort="coe" >
        <translate>COE</translate>
      </th>

      <th class="action-col">
        <translate>Actions</translate>
      </th>
    </tr>
  </thead>
  <tbody>
    <!--
      Table-rows:
      This is where we declaratively define the table columns.
      Include select-col if you want to select all.
      Include expander if you want to inline details.
      Include action-col if you want to perform actions.
      rsp-p1 rsp-p2 are responsive priority as user resizes window.
    -->

    <tr ng-repeat-start="bm in table.baymodels track by bm.id"
        nt-class="{'st-selected': checked[bm.id]}">

      <td class="select-col">
        <input type="checkbox"
          ng-model="selected[bm.id].checked"
          hz-select="bm">
      </td>

      <td class="expander">
        <i class="fa fa-chevron-right"
          hz-expand-detail
          duration="200">
        </i>
      </td>

      <td class="rsp-p1">{$ bm.name|noName $}</td>
      <td class="rsp-p1">{$ bm.id $}</td>
      <td class="rsp-p2">{$ bm.network_driver $}</td>
      <td class="rsp-p2">{$ bm.coe $}</td>

      <td class="action-col">
        <!--
          Table-row-action-column:
          Actions taken here applies to a single item/row.
        -->
        <actions allowed="table.rowActions.actions" type="row" item="bm" />
      </td>
    </tr>
    <tr ng-repeat-end class="detail-row">
      <!--
        Table-row-details:
        Provides detail view of specific view, with more information than can be
        displayed in the table alone.
      -->

      <td class="detail" colspan="100">
        <dl class=dl-horizontal>

          <dt><translate>Name</translate></dt>
          <dd><a ng-href="project/baymodels/{$ bm.id $}">{$ bm.name|noName $}</a></dd>

          <dt><translate>ID</translate></dt>
          <dd>{$ bm.id $}</dd>

          <dt><translate>COE</translate></dt>
          <dd>{$ bm.coe $}</dd>

          <dt><translate>Image ID</translate></dt>
          <dd>{$ bm.image_id $}</dd>

          <dt><translate>Registry Enabled</translate></dt>
          <dd>{$ bm.registry_enabled $}</dd>

          <dt><translate>Network Driver</translate></dt>
          <dd>{$ bm.network_driver $}</dd>

          <dt><translate>Labels</translate></dt>
          <dd ng-repeat="lbl in b.labels">{$ lbl $}</dd>
        </dl>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <td colspan="100">
        <span class="display">{$ table.baymodels.length|itemCount $}</span>
          <div st-pagination="" st-items-by-page="10"
            st-displayed-pages="10"></div>
        </td>
  </tfoot>
</table>
