<div ng-controller="createClusterTemplateInfoController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="cluster-template-name" translate>Cluster template Name</label>
        <input name="cluster-template-name" type="text" class="form-control" id="cluster-template-name"
               ng-model="model.newClusterTemplateSpec.name"
               placeholder="{$ 'Name of the cluster template to create.'|translate $}">
      </div>
      <div class="form-group">
        <label class="control-label" for="cluster-template-coe">
          <translate>Container Orchestration Engine</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <select class="form-control" name="cluster-template-coe" id="cluster-template-coe"
                ng-model="model.newClusterTemplateSpec.coe"
                ng-required="true"
                ng-options="coe.name as coe.label for coe in ctrl.coes"
                ng-change="changeCoes()">
        </select>
      </div>
      <div class="form-group">
        <div class="themable-checkbox">
          <input name="cluster-template-public" type="checkbox" id="cluster-template-public"
                 ng-model="model.newClusterTemplateSpec.public">
          <label for="cluster-template-public" translate>Public</label>
        </div>
      </div>
      <div class="form-group">
        <div class="themable-checkbox">
          <input name="cluster-template-registry-enabled" type="checkbox" id="cluster-template-registry-enabled"
                 ng-model="model.newClusterTemplateSpec.registry_enabled">
          <label for="cluster-template-registry-enabled" translate>Enable Registry</label>
        </div>
      </div>
      <div class="form-group">
        <div class="themable-checkbox">
          <input name="cluster-template-tls-disabled" type="checkbox" id="cluster-template-tls-disabled"
                 ng-model="model.newClusterTemplateSpec.tls_disabled">
          <label for="cluster-template-tls-disabled" translate>Disable TLS</label>
        </div>
      </div>
    </div>
  </div>
</div>
