<div ng-controller="ClusterTemplateOverviewController as ctrl">
  <div class="row">
    <div class="col-md-6 detail">
      <h3 translate>Cluster Type</h3>
      <hr>
      <dl class="dl-horizontal">
        <dt translate>COE</dt>
        <dd>{$ ctrl.cluster_template.coe $}</dd>
        <dt translate>Cluster Distro</dt>
        <dd>{$ ctrl.cluster_template.cluster_distro $}</dd>
        <dt translate>Server Type</dt>
        <dd>{$ ctrl.cluster_template.server_type | uppercase $}</dd>
        <dt translate>Public</dt>
        <dd>{$ ctrl.cluster_template.public | yesno $}</dd>
        <dt translate>Registry Enabled</dt>
        <dd>{$ ctrl.cluster_template.registry_enabled | yesno $}</dd>
        <dt translate>TLS Disabled</dt>
        <dd>{$ ctrl.cluster_template.tls_disabled | yesno $}</dd>
      </dl>
    </div>
    <div class="col-md-6 detail">
      <h3 translate>Node Spec</h3>
      <hr>
      <dl class="dl-horizontal">
        <dt translate>Image ID</dt>
        <dd><a href="project/images/{$ ctrl.cluster_template.image_id $}/" target="_self">{$ ctrl.cluster_template.image_id $}</a></dd>
        <dt translate>Keypair</dt>
        <dd ng-if="ctrl.cluster_template.keypair_id!==null"><a href="project/key_pairs/{$ ctrl.cluster_template.keypair_id $}/" target="_self">{$ ctrl.cluster_template.keypair_id $}</a></dd>
        <dd ng-if="ctrl.cluster_template.keypair_id===null">-</dd>
        <dt translate>Flavor ID</dt>
        <dd>{$ ctrl.cluster_template.flavor_id | noValue $}</dd>
        <dt translate>Master Flavor ID</dt>
        <dd>{$ ctrl.cluster_template.master_flavor_id | noValue $}</dd>
        <dt translate>Volume Driver</dt>
        <dd>{$ ctrl.cluster_template.volume_driver | noValue $}</dd>
        <dt translate>Docker Storage Driver</dt>
        <dd>{$ ctrl.cluster_template.docker_storage_driver | noValue $}</dd>
        <dt translate>Docker Volume Size</dt>
        <dd>{$ ctrl.cluster_template.docker_volume_size | gb | noValue $}</dd>
        <dt translate>Insecure Registry</dt>
        <dd>{$ ctrl.cluster_template.insecure_registry | noValue $}</dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 detail">
      <h3 translate>Network</h3>
      <hr>
      <dl class="dl-horizontal">
        <dt translate>Network Driver</dt>
        <dd>{$ ctrl.cluster_template.network_driver $}</dd>
        <dt translate>HTTP Proxy</dt>
        <dd>{$ ctrl.cluster_template.http_proxy | noValue $}</dd>
        <dt translate>HTTPS Proxy</dt>
        <dd>{$ ctrl.cluster_template.https_proxy | noValue $}</dd>
        <dt translate>No Proxy</dt>
        <dd>{$ ctrl.cluster_template.no_proxy | noValue $}</dd>
        <dt translate>External Network ID</dt>
        <dd>{$ ctrl.cluster_template.external_network_id $}</dd>
        <dt translate>Fixed Network</dt>
        <dd>{$ ctrl.cluster_template.fixed_network | noValue $}</dd>
        <dt translate>Fixed Subnet</dt>
        <dd>{$ ctrl.cluster_template.fixed_subnet | noValue $}</dd>
        <dt translate>DNS</dt>
        <dd>{$ ctrl.cluster_template.dns_nameserver | noValue $}</dd>
        <dt translate>Master LB Enabled</dt>
        <dd>{$ ctrl.cluster_template.master_lb_enabled | yesno $}</dd>
        <dt translate>Floating IP Enabled</dt>
        <dd>{$ ctrl.cluster_template.floating_ip_enabled | yesno $}</dd>
      </dl>
    </div>
    <div class="col-md-6 detail">
      <h3 translate>Labels</h3>
      <hr>
      <dl class="dl-horizontal">
        <dd ng-if="ctrl.objLen(ctrl.cluster_template.labels) === 0" translate>None</dd>
        <dt ng-repeat-start="(key, value) in ctrl.cluster_template.labels">{$ key $}</dt>
        <dd ng-repeat-end>{$ value $}</dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 detail">
      <h3 translate>Record Properties</h3>
      <hr>
      <dl class="dl-horizontal">
        <dt translate>Created</dt>
        <dd>{$ ctrl.cluster_template.created_at | date:'short' $}</dd>
        <dt translate>Updated</dt>
        <dd>{$ ctrl.cluster_template.updated_at | date:'short' | noValue $}</dd>
        <dt translate>ID</dt>
        <dd>{$ ctrl.cluster_template.id $}</dd>
      </dl>
    </div>
  </div>
</div>
