<div ng-controller="createClusterSizeController as ctrl">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label class="control-label" for="cluster-master-count" translate>Master Count</label>
        <input name="cluster-master-count" type="number" min="1" id="cluster-master-count"
               class="form-control" ng-model="model.newClusterSpec.master_count"
               placeholder="{$ 'The number of master nodes for the cluster.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <label class="control-label" for="cluster-node-count" translate>Node Count</label>
        <input name="cluster-node-count" type="number" min="1" id="cluster-node-count"
               class="form-control" ng-model="model.newClusterSpec.node_count"
               placeholder="{$ 'The cluster node count.'|translate $}">
      </div>
    </div>
  </div>
</div>
